body
{
	background:#F2F3F7 !important;
	padding:none;
}


.label
{
	font-size:1.2rem !important;
}

.view_box {
	height:67px; 
	width:67px; 
	float:left; 
	text-align:center; 
	background:#ddd; 
	margin-right:10px;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #ddd;
}

.trumbowyg-box, .trumbowyg-editor {
	width:100% !important;
	margin: 2px 0 15px 0 !important;
}

.text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.title {
	display: inline-block;
        max-width: 600px;
       	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.post-details {
	font-size:12px;
	display:inline-block;
}

.panel-footer img{
	width:50px;
	vertical-align:top;
}

.pad{
	padding:10px;
}

.post_view{
	min-height: 500px;
}

.container.inner
{
	margin-top:80px;
	min-height:800px
}


.relative
{
	position:relative;
}

.navbar-logo
{
	padding:3px 5px 0 5px;
	display:block;
	width:100%;
	height:100%;
}

.sign-in
{
	padding:30px 0;
}

.heading h2
{
	color:#999; 
	font-weight: 200;
}

.heading h3
{
	color:#999;
	font-weight: 100;
}

.banner
{
	max-height:400px;
	width:100%;
	overflow:hidden;
	text-align:center;
}

@media (max-width:1015px){
	.banner img
	{
		margin-top:-10%;
	}
}

@media (min-width:1016px){
	.banner img
	{
		margin-top:-25%;
	}

}

.banner .text
{
	position:absolute;
	top:80px;
	left:19%;
	text-align:left;
	color:white;
}

.banner h1
{
	  font-size: 60px;
	    line-height: 1;
}

.banner-explain
{
	background:#F2F3F7;
	height:450px;
	width:100%:
}

.banner-browser
{
	background:#fff;
	height:350px;
	width:100%:
}

#footer
{
	background:#193258;
	width:100%;
	height:200px;
}


