.create_user_container{
	background:#f4f5f6;
	text-align:center;
	margin:20px auto 0  auto;
	width:400px;
	min-height: 500px;
	display:inline-block;
	padding: 0 0 20px 0;
}

.create_user_container .title{
	margin: 20px;
	text-align:center;
}

.g-recaptcha{
	margin:auto;
	display:inline-block;
}
