.container{
	margin: 0 auto;
	width: 1100px;
	padding: 10px 0 0 0 ;
}

#col_1 {
	width:200px;
}

#col_1 div{
	background: white;
	border: 1px solid  #855f61 ;
	width:200px;
	min-height:100px;
	border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
	text-indent: 10px;
	padding:10px 0 ;
}

#col_1 ul{
	list-style:none;
}

@media only screen and (max-width : 1050px) {  
	.container{
		width:100%;
	}
}

