header {
	width:100%;
	height:28px;
	border: 1px solid black;
}

header .menu {
	display:inline-block;
	padding: 5px 0 0 0 ;
	margin:0;
	vertical-align:top;
}

header .menu li {
	float:left;
	list-style:none;
	padding: 0 3px;
}

header .admin {
	float:right;
	list-style:none;
	padding: 5px 10px 0 3px;
}

#menu-bar {
	margin-left: 20px;
}


