/*
 * #855f61 border
 * #4f393a; Link
 * #9c060b Link hover
 * #496656 header
 * a98789 light bground
 */
* {
	padding:0;
	margin:0;
}

body {
	font: 0.9em sans-serif;
}

a {
	text-decoration:none;
	color: #4f393a
}

a:hover {
	color: #9c060b;
}

#logo_bar {
	background:#3f2d2e;
	height:25px;
}

#header_inner {
	list-style:none;
	border-bottom:1px solid #855f61;
	background:white;
	height: 50px;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(63,45,46,1);
	-moz-box-shadow: 0px 0px 3px 0px rgba(63,45,46,1);
	box-shadow: 0px 0px 3px 0px rgba(63,45,46,1);
}

nav {
	width: 1100px;
	margin: 0 auto;
}

header ul {
	list-style:none;

}

header ul li {
	float:left;
	text-align:center;
}

header .side_menu {
	float:right;
	width:58px;
	height:50px;
	text-align:center;
}

header .side_menu a {
	height:100%;
	display:block;
}

header .side_menu a span {
	display:block;
	padding:17px 0 0 0;
}

header .side_menu a.tooltip_setting span {
	display:inline-block;
	padding:0;
	margin:10px 0 0 0;
}

nav ul li a {
	height:100%;
	display:block;
}

nav ul li .icon{
	margin:11px 0 0 0;
}

.menu_breeds{
	width:141px;
	height:50px;
}
.menu_breeders {
	width:155px;
	height:50px;
}
.menu_posts {
	width:95px;
	height:50px;
}
.menu_home {
	width:95px;
	height:50px;
}

.header_link {
	vertical-align:top;
	margin: 17px 0 0 0 ;
	display:inline-block;
}

.tooltip_setting_theme {
	border-radius: 5px; 
	border: 2px solid #855f61; ;
	background: #fff;
	color: ;#9c060b;
}
.tooltip_setting_theme .tooltipster-content {
	font-size: 12px;
	line-height: 16px;
	padding: 8px 10px;
}

.tooltip_link {
	padding: 3px 0 3px 0;
}

/**
 * Media Query
 */
@media only screen and (max-width : 1100px) {  
	nav {
		width: 100%;
		margin: 0 auto;
	}
}

@media only screen and (max-width : 1050px) {  
	nav {
		width: 100%;
		margin: 0 auto;
	}

	.header_link {
		display:none;
	}

	.menu_breeds{
		width:50px;
		height:50px;
	}
	.menu_breeders {
		width:50px;
		height:50px;
	}
	.menu_posts {
		width:50px;
		height:50px;
	}
	.menu_home {
		width:50px;
		height:50px;
	}
}  


