*{
	padding:0;
	margin:0;
}

body {
	padding:0;
	margin:0;
}

a {
	text-decoration:none;
	color:#999;
}

a:hover {
	color:#ccc;
}

/**
	Images
**/
.main.logo {
	height:28px;
	width:100px;
	background-image:url("../img/dogcatlogo.png");
	display:inline-block;
}

.icon.medium {
	height: 28px;
	width: 28px;
}

.hamburger_menu {
	display:inline-block;
	background-image:url("../img/icon/hamburger_icon.png");
}

.cog_icon{
	display:inline-block;
	background-image:url("../img/icon/cog-icon.png");
}

