html{
	height:100%;
}

*{
	padding:0;
	margin:0;
}

body {
	padding:0;
	margin:0;
	height:100%;
	background: rgba(201,180,181,1);
	background: -moz-linear-gradient(top, rgba(201,180,181,1) 0%, rgba(104,74,77,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(201,180,181,1)), color-stop(100%, rgba(104,74,77,1)));
	background: -webkit-linear-gradient(top, rgba(201,180,181,1) 0%, rgba(104,74,77,1) 100%);
	background: -o-linear-gradient(top, rgba(201,180,181,1) 0%, rgba(104,74,77,1) 100%);
	background: -ms-linear-gradient(top, rgba(201,180,181,1) 0%, rgba(104,74,77,1) 100%);
	background: linear-gradient(to bottom, rgba(201,180,181,1) 0%, rgba(104,74,77,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9b4b5', endColorstr='#684a4d', GradientType=0 );
}

h2 {
	color:#496656;
}

#content {
	height:100%;
}

/**
	Images
**/
.main.logo {
	height:28px;
	width:100px;
	background-image:url("../img/dogcatlogo.png");
	display:inline-block;
}

.icon.medium {
	height: 28px;
	width: 28px;
	border: 1px solid #855f61; 
	display:inline-block;
}

.icon.large {
	height: 40px;
	width: 40px;
}

.hamburger_menu {
	display:inline-block;
	background-image:url("../img/icon/hamburger_icon.png");
}

.cog_icon{
	display:inline-block;
	background-image:url("../img/icon/cog-icon.png");
}

