.trumbowyg-editor{
	background:white !important;
}

#post-image{
	width:750px;
	height:550px;	
	overflow:hidden;
	background-position: center center;
	background-repeat: no-repeat;
}

#post-image img
{
	position:relative;
	min-width:100%;
	min-height:100%;
}
