
#profile_upload_cover
{
	position: absolute;
	display: inline-block;
	width: 100%;
	height: 100%;
	text-align: center;
	padding-top: 40%;
	background: rgb(204, 204, 204) none repeat scroll 0% 0%;
	opacity: 0.5;
	filter:alpha(opacity=0.5);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
}

#file
{
    opacity: 0;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity: 0;
    position: absolute;
    z-index: 20;
    cursor: pointer;
    display:inline-block;
    width:165px;
    height:165px;
}

